@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Profile Manager Application</h1>
    <p class="lead"> This Application can be used by JOB Seekers for Uploading their Profiles</p>
</div>

